In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('processed.csv')

In [21]:
df.head(10)

,chat_id,chat_users_count,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
0,332219,2,–ö–∞—Ç—èüíó,744656,1655192348,0,120,0,0,0,0,0,False
1,332219,2,–ö–∞—Ç—èüíó,744656,1655192393,0,33,0,0,0,0,0,False
2,332219,2,–ö–∞—Ç—èüíó,744656,1666689482,0,6,0,0,0,0,0,False
3,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1714814719,0,63,0,1,0,0,0,False
4,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1722209334,0,213,0,0,1,0,0,False
5,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1728634633,4,16,0,0,0,0,2,False
6,332219,2,–ö–∞—Ç—èüíó,744656,1728634670,0,16,0,0,0,0,0,False
7,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1728634724,0,12,0,0,0,0,0,False
8,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1728634725,4,20,0,0,0,0,0,False
9,332219,2,–í–∏—Ç–æ–≤—Å–∫–∞—è –î–∞—Ä—å—è,282960,1728642000,2,51,0,0,0,0,0,False

In [18]:
df['chat_id'].unique()

array([332219, 155731, 357560])

In [19]:
df.shape

(1464, 13)

In [4]:
df.shape

(19505, 12)

In [ ]:
df.head(10)

In [16]:
# vk: –í—ã, 29 –∞–ø—Ä 2022 –≤ 20:31:32 - 2 –≤–∏–¥–µ–æ (240400996/messages4900.html)
df[df['timestamp'] == 1651253492]

,chat_id,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
4869,240400996,–í—ã,1,1651253492,0,22,2,0,0,0,-1,False

In [11]:
df[df['timestamp'] == 1686248178]

,chat_id,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
180,240400996,–ö–∞—Ç—è –ú–∏—Ä–æ—à–Ω–∏—á–µ–Ω–∫–æ,240400996,1686248178,2,0,0,0,0,0,-1,False

In [49]:
df[df['timestamp'] == 1689709662]

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
100633,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–í–∏—Ç–æ–≤–æ—á–∫–∞,648530004,1689709662,0,0,0,0,0,0,0,True

In [48]:
df[df['timestamp'] == 1681841300] # –≤–∏–¥–µ–æ–∑–≤–æ–Ω–æ–∫

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
87596,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–ö–∞—Ç—è,1,1681841300,4,0,0,0,0,0,20,False

In [5]:
df[df['timestamp'] == 1682107548] # –≤–∏–¥–µ–æ

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
88689,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–í–∏—Ç–æ–≤–æ—á–∫–∞,648530004,1682107548,1,0,0,0,0,0,16,False

In [8]:
df[df['timestamp'] == 1683203434] # –≤–∏–¥–µ–æ

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
90593,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–í–∏—Ç–æ–≤–æ—á–∫–∞,648530004,1683203434,0,0,7,0,0,2,28,False

In [52]:
df[df['timestamp'] == 1682112964]

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
88697,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–í–∏—Ç–æ–≤–æ—á–∫–∞,648530004,1682112964,0,30,0,1,0,0,0,False

In [50]:
df['message_type'].value_counts()

0    130912
1      5537
2      3780
4       364
Name: message_type, dtype: int64

In [7]:
df[df['video_count'] > 0]

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
169,784296870,2,784296870,Marina,Marina Kudashova,784296870,1595609916,0,0,0,0,0,1,513,False
1579,573434155,2,573434155,–ö–∞—Ç—è-—Å—ã—Ä–Ω–∏–∫,–ö–∞—Ç—è-—Å—ã—Ä–Ω–∏–∫,573434155,1620945312,0,0,1,0,0,1,23,False
1997,212215704,2,212215704,–ê–Ω–Ω–∞,–ê–Ω–Ω–∞ –ö–ª–∏–º–æ–≤–∞,212215704,1667246530,0,17,0,0,0,1,28,False
2011,212215704,2,212215704,–ê–Ω–Ω–∞,–ö–∞—Ç—è,8380,1673786866,0,27,0,0,0,1,137,False
2320,869630256,2,869630256,–ü–æ–ª–∏–Ω–∞,–ü–æ–ª–∏–Ω–∞ –§–µ—Å—Å–æ—Ä,869630256,1670069033,0,0,0,0,0,2,36,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140295,765513831,1,-1,NaN,–ö–∞—Ç—è,8380,1678307083,0,0,0,0,0,1,24,False
140300,765513831,1,-1,NaN,–ö–∞—Ç—è,8380,1678635849,0,0,0,0,0,1,23,False
140301,765513831,1,-1,NaN,–ö–∞—Ç—è,8380,1678636252,0,0,0,0,0,1,24,False
140319,765513831,1,-1,NaN,–ö–∞—Ç—è,8380,1680035608,0,0,0,0,0,1,36,False
140518,765513831,1,-1,NaN,–ö–∞—Ç—è,8380,1701887809,0,0,0,0,0,1,9,False

In [37]:
df[df['message_type'] == 0]

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
0,1285560920,1,-1,NaN,–ö–∞—Ç—è,1,1573827287,0,0,0,1,0,0,0,False
1,1285560920,1,-1,NaN,–ö–∞—Ç—è,1,1573827428,0,25,0,0,0,0,0,False
2,1285560920,1,-1,NaN,–ö–∞—Ç—è,1,1573827477,0,0,0,1,0,0,0,False
3,1285560920,1,-1,NaN,–ö–∞—Ç—è,1,1573827662,0,0,3,0,0,0,0,False
5,413665976,2,413665976,–ú–∏—Ö–∞–π–ª–æ–≤,–ú–∏—Ö–∞–π–ª–æ–≤,413665976,1588349923,0,1,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140224,765513831,1,-1,NaN,–ö–∞—Ç—è,1,1707300553,0,29,0,0,0,0,0,False
140225,765513831,1,-1,NaN,–ö–∞—Ç—è,1,1707300682,0,32,0,0,0,0,0,False
140226,765513831,1,-1,NaN,–ö–∞—Ç—è,1,1707300841,0,123,0,0,0,0,0,False
140227,765513831,1,-1,NaN,–ö–∞—Ç—è,1,1707310975,0,0,1,0,0,0,0,False
140228,765513831,1,-1,NaN,–ö–∞—Ç—è,1,1707481000,0,57,0,0,1,0,0,False

In [41]:
df[df['timestamp'] == 1681841504]

,chat_id,chat_users_count,partner_used_id,partner_user_nickname,active_user_nickname,active_user_id,timestamp,message_type,symbols_count,picture_count,emoji_count,link_count,video_count,seconds_count,is_forwarded
87340,648530004,2,648530004,–í–∏—Ç–æ–≤–æ—á–∫–∞,–ö–∞—Ç—è,1,1681841504,0,36,0,0,1,0,0,False